body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.color-name-display {
  margin-top: 10px; /* Add margin to position it under the square */
  font-weight: bold; /* Optional: Make the text bold */
  text-align: center; /* Center the text */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 320px; /* Ensure minimum width */
  /* min-height: 400px; Ensure minimum height */
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 200px; /* Increased width */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#colorSquare {
  width: 200px; /* Increased width */
  height: 200px; /* Increased height */
  background-color: black;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}